*
{
    font-family: 'Microsoft Yahei';

    margin: 0;
    padding: 0;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
}

.top
{
    width: 100%;
    height: 54px;

    border-bottom: 1px solid #565a5c;
}
.top_con
{
    position: relative;

    width: 1280px;
    height: 54px;
    margin: 0 auto;
}
.top_con img
{
    position: absolute;
    top: 8px;
    left: 19px;
}
.list
{
    position: absolute;
    left: 330px;
}
.list li
{
    float: left;
}
.list li a
{
    font-size: 14px;
    line-height: 54px;

    display: block;

    height: 54px;
    padding: 0 20px;

    color: #565a5c;
}
.list li a:hover
{
    color: #e60012;
}
.search_text
{
    width: 200px;
    padding-left: 19px;

    border: 1px solid #edefed;
    border-radius: 10px;
    outline: none;
    background: url(../images/search.gif) no-repeat left center;
}
.search_text:focus
{
    background: url(../images/search2.gif) no-repeat left center #edefed;
}
.main
{
    width: 1280px;
    margin: 0 auto;
    margin-top: 1px;
}

.banner1 img,
.service
{
    float: left;
}
.service
{
    float: left;

    width: 1280px;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 40px;

    text-align: center;
}
.service h2,
.customer h2
{
    font-family: 'Adobe 黑体 Std';
    font-size: 30.85px;

    color: #e60012;
}
.service h2 span
{
    font-size: 26px;
}
.service p
{
    font-size: 17.5px;

    color: #565a5c;
}

.home
{
    float: left;

    height: 620px;

    widows: 1280px;
}

.home .home_box
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 320px;
    height: 620px;
}
.home img
{
    position: relative;
    z-index: 1;
}
.home_box b
{
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;

    display: block;

    width: 105px;
    height: 105px;

    cursor: pointer;
    -webkit-transform: translate(-52.5px,-52.5px);
       -moz-transform: translate(-52.5px,-52.5px);
            transform: translate(-52.5px,-52.5px);
    text-align: center;

    background: rgba(255,255,255,.8);
}
.home_box b:hover
{
    color: #fff;
    background: #e60012;
}
.home_box b h2
{
    font-size: 15px;

    padding-top: 28px;
}
.home_box b p
{
    font-size: 12px;
}
.home .home_box img
{
    transition: .3s;
}
.home .home_box:hover img
{
    z-index: 4;

    transform: scale(1.1);
}
.customer span
{
    font-size: 20.36px;

    display: block;

    margin-bottom: 60px;

    color: #565a5c;
}
.customer
{
    float: left;

    width: 1280px;
    padding-top: 50px;
    padding-bottom: 0;

    text-align: center;
}
/*........................................................插件css 开始*/
.banner
{
    position: relative;

    overflow: hidden;

    width: 1030px;
    height: 404px;
    /*位置修改一下即可*/
    margin: 0 auto;
}
.banner .img
{
    position: absolute;
    top: 0;
    left: 0;

    width: 5000px;
}
.banner .img li
{
    float: left;
}
.banner .num
{
    font-size: 0;

    position: absolute;
    bottom: 10px;
    left: 0;

    width: 100%;

    text-align: center;
}
.banner .num li
{
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 3px;

    cursor: pointer;

    border-radius: 50%;
    background: #888;
}
.banner .num li.on
{
    background: #f60;
}
.banner .btn
{
    font-family: '宋体';
    font-size: 40px;
    line-height: 50px;

    position: absolute;
    top: 50%;

    display: none;

    width: 30px;
    height: 50px;
    margin-top: -25px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .5);
}
.banner:hover .btn
{
    display: block;
}
.banner .btn_l
{
    left: 0;
}
.banner .btn_r
{
    right: 0;
}

/*........................................................插件css 结束*/
.carousel
{
    width: 1030px;
    height: 404px;
    margin: 0 auto;
}

.footer
{
    float: left;

    width: 100%;
    height: 149px;
    margin-top: 145px;
    padding-top: 30px;

    text-align: center;

    border-top: 1px solid #d1d2d4;
    background: #edefed;
}
.footer h2
{
    font-size: 25px;

    color: #8c8e93;
}

.footer span
{
    font-size: 12px;

    display: inline-block;

    height: 24px;
    padding: 15px 20px ;

    color: #8c8e93;
}
.footer p
{
    font-size: 12px ;

    color: #8c8e93;
}
